@model MvcEgitimi.Models.Adres

@{
    ViewBag.Title = "Adres";
}

<h2>Adres Bilgileri</h2>

@using (Html.BeginForm())
{
    <div>
        Şehir : @Html.EditorFor(model => model.Sehir)
        <hr />
        İlçe : @Html.EditorFor(model => model.Ilce)
        <hr />
        Açık adres : @Html.EditorFor(model => model.AcikAdres)
        <hr />
        <input id="Submit1" type="submit" value="Gönder" />
    </div>
}

@{
    @ViewBag.Mesaj
    <hr />
    @ViewData["Vdata"]
    <hr />
    @TempData["Tdata"]
}
